<h1>Listing tgel_logs</h1>

<table>
  <tr>
    <th>Log type</th>
    <th>Message</th>
    <th>Controller</th>
    <th>Action</th>
    <th>User</th>
  </tr>

<% @tgel_logs.each do |tgel_log| %>
  <tr>
    <td><%=h tgel_log.log_type %></td>
    <td><%=h tgel_log.message %></td>
    <td><%=h tgel_log.controller %></td>
    <td><%=h tgel_log.action %></td>
    <td><%=h tgel_log.tgel_user_id %></td>
    <td><%= link_to 'Show', tgel_log %></td>
  </tr>
<% end %>
</table>

<br />
