<p>
  <b>Log type:</b>
  <%=h @tgel_log.log_type %>
</p>

<p>
  <b>Message:</b>
  <%=h @tgel_log.message %>
</p>

<p>
  <b>Controller:</b>
  <%=h @tgel_log.controller %>
</p>

<p>
  <b>Action:</b>
  <%=h @tgel_log.action %>
</p>

<p>
  <b>Params:</b>
  <%=h @tgel_log.params %>
</p>

<p>
  <b>Session:</b>
  <%=h @tgel_log.session %>
</p>

<p>
  <b>User:</b>
  <%=h @tgel_log.tgel_user_id %>
</p>


<%= link_to 'Edit', edit_tgel_log_path(@tgel_log) %> |
<%= link_to 'Back', tgel_logs_path %>